@import '../settings';
@import '../common/colors';
@import '../common/typography';

.filmContainer {
    width:100%;
    border-top : 1px solid var(--colorCrimson);
    border-bottom : 1px solid var(--colorCrimson);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.infos {
    display: flex;
    flex-direction: row;
    width:80%;
    border-bottom: 1px dotted red;
    padding:5px;
}

.infos > div {
    padding-bottom: 20px;
    padding-top: 20px;
}

.leftInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-right: 1px dotted red
}

.infos > div  > p{
    margin-top: 5px;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow:
      1px 1px 0px #d5d5d5,
      1.5px 1.5px 0px rgba(0, 0, 0, 0.2);
}

.infos >div>p::before {
    content:'--   ';
}
.infos >div>p::after {
    content:'   --';
}

.rating {
    font-size: 1.6em;
}
.rightInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    padding-right:10px;
    padding-left: 10px;
}
.title {
    width:80%;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-bottom: 15px;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow:
      1px 1px 0px #d5d5d5,
      2px 2px 0px rgba(0, 0, 0, 0.2);
      border-bottom: 1px dotted red;
}

.genres {
    font-weight: bold;
    font-size: 1.4em;
}


.genres:not(:last-child)::after{
    content:' / ';
}
