@import '../settings';
@import '../common/typography';
@import '../common/colors';
@import '../common/button';
@import '../common/input';

.login {
  width: 420px;
  margin: 0 auto;
  background-color: var(--colorWhite);
  border: 2px dotted var(--colorCrimson);
  border-radius: var(--globalRadius);
  padding-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting {
  .loading {
    display: block;
  }
}

.alternative {
  background: var(--colorWhite);
  padding: 12px 8px;
  font-size: var(--fontMedium);
  text-align: center;
}

.alternative-link {
  color: var(--colorCrimson);
  font-weight: bold;
  cursor: pointer;
}

.alternative-link:hover{
    color:orange;
}

.loading {
  display: none;
  text-align: center;
  margin: 24px auto;
}

.email-container {
  padding: 16px 12px;
}

.google-container {
  padding: 16px 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {}

.heading {
  @apply --subHeading;
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
  padding-bottom: 15px;
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow:
    1px 1px 0px #d5d5d5,
    2px 2px 0px rgba(0, 0, 0, 0.2);
    border-bottom: 1px dotted red;
}

.input {
  @apply --input;
}

input[type=submit]{
    width:90%;
    text-align: center;
    padding: 0;
}
.message {
  color: var(--colorCrimson);
  font-size: var(--fontSmall);
}

.button {
    @apply --button;
    text-align: center;
    background-color: var(--colorCrimson);
    color:var(--colorWhite);
    font-size: 1.5em;
    border:none;
    text-transform: capitalize;
}

.alternative-link {
    border:none;
    background: none;
}

.button:hover {
    background: linear-gradient(to right, var(--colorCrimson), orange);
    border:none;
    color:white;
}


.hint {
  @apply --small;
  color: var(--colorBombay);
}

@media screen and (max-width: 640px){
    .login {
        width:250px;
    }
    .button {
        width:180px;
        font-size: 1.1em;
    }
}
