@import '../settings';
@import '../common/colors';
@import '../common/typography';

.movieList {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.movieListDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resultsDiv {
    width:100%;
}

@media screen and (max-width: 525px){
    .movieListDiv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
