@import '../settings';
@import '../common/colors';
@import '../common/typography';

.movieCard {
    width: 240px;
    height: 360px;
    background-size: cover;
    background-position: center;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5px
}

.movieCard:hover {
    box-shadow: 0px 0px 8px black;
}

.cardInfo {
    visibility:hidden;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cardLink {
    text-decoration:none;
}

.cardLink:hover {
    box-shadow: 0px 0px 8px black;
    color:black;
}

.movieCard:hover .cardInfo {
    visibility: visible;
}
